<div class="conversation">
  <div class="info"></div>
  <%= render 'conversations/messages', messages: @messages %>
  <%= render 'conversations/form', conversation: @conversation, message: @message %>
</div>
